html {
  scroll-behavior: smooth;
}

img {
  width: 300px;
}

.post {
  background-color: #FFE3B3;
  margin: 2rem;
}

.comment {
  background-color: #FFC872;
  border: 1px solid black;

}

header {
  background-color: #30A0E0;
}